/* Variables */
:root {
    --col-white: hsl(0, 0%, 100%);
    --col-shadow: hsl(0deg 0% 0% / 20%);
    --col-slate-300: hsl(212, 45%, 89%);
    --col-slate-500: hsl(216, 15%, 48%);
    --col-slate-900: hsl(218, 44%, 22%);
    --col-link: hsl(216, 100%, 60%);
    --bor-rad: .6rem;
}

/* Fonts */
.ft-outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ft-outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Global styles */
*, html, body {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--col-slate-300);
}

.headline {
    top: 1rem;
    position: absolute;
    visibility: hidden;
    text-align: center;
}

/* QR Card */
.qr-card {
    display: flex;
    padding-bottom: .8rem;
    max-width: 250px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--col-white);
    box-shadow: 2px 2px 8px 0px var(--col-shadow);
    /* MF */
    transform: scale(.9);
}

.qr-border-radius {
    border-radius: var(--bor-rad);
}

img.qr-img {
    width: 100%;
    margin-bottom: .8rem;
    /* MF */
    transform: scale(.9);
}

h3.qr-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 .7rem;
    /* MF */
    font-size: 1.1rem;
}

p.qr-text {
    opacity: .5;
    padding: 0 .7rem;
    /* MF */
    font-size: .8rem;
}

/* Attribution */
.attribution {
    bottom: 1rem;
    font-size: x-small;
    text-align: center;
    position: absolute;
}

.attribution a {
    font-size: x-small;
    text-decoration: none;
    color: var(--col-link);
}

/* Responsive 290, 360, 570, 720, 960, 1200 */
@media screen and (min-width: 290px) {
    .qr-card {
        transform: none;
    }
}

@media screen and (min-width: 720px) {
    h3.qr-title{
        font-size: 1.25rem;
    }
    p.qr-text {
        font-size: .95rem;
    }
}

@media screen and (min-width: 960px) {
    .qr-card {
        max-width: 300px;
    }
    h3.qr-title{
        font-size: 1.5rem;
    }
    p.qr-text {
        font-size: 1rem;
    }
}